;;; Way config. Profiles: :dev :server :default (see hyperphor.way.config).

{:app-title "Ontogeny"
 :dev-mode #profile {:dev true :default false}
 :app-main "hyperphor.ontogeny.frontend.core.init"
 :port #env PORT
 :css ["/css/ontogeny.css"]

 ;; For persisting schemas (TEMP until s3)
 :data-dir #or [#env ONTOGENY_DATA_DIR "ontogeny-data"]

 }
